<div class="parent-container d-flex">
  <div class="container">
      <div class="row">
        <h1>Take a look at your profile</h1>
        <!-- <div class="col-md-2 col-md-offset-5"></div> -->
        <div class="col profile_pic">
        <%= image_tag "profile_pic" %>
      <br>
      <div class="actions">
      <ul>
        <li><%= link_to 'Add a new car', new_car_path,class: "btn btn-ghost" %></li>
        <li><%= link_to 'Make a new booking', cars_path,class: "btn btn-ghost" %></li>
      <br>
      </ul>
      </div>
    <h2>Reviews about You</h2>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Details</th>
            <th>Rating</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= review.title %></td>
              <td><%= review.details %></td>
              <td><%= review.rating %></td>
              <td><%= review.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Your Cars</h2>
  <table>
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |car| %>
        <tr>
          <td><%= car.make %></td>
          <td><%= car.model %></td>
          <td>
            <%= link_to 'Show', car %>
            <%= link_to 'Edit', edit_car_path(car) %>
            <%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Your Bookings</h2>
  <table>
    <thead>
      <tr>
        <th>Start day</th>
        <th>End day</th>
        <th>Make</th>
        <th>Model</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.end_date %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.car.make %></td>
          <td><%= booking.car.model %></td>
          <td>
            <%= link_to 'Show', car_booking_path(booking.car_id, booking) %>
            <%= link_to 'Edit', edit_car_booking_path(booking.car_id, booking) %>
            <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>


