
<div class="banner">
<div class="intro">
  <div class="card-category">
  <h1>Get a Ride </h1>
    <br>
    <br>
    <h2>Find your ideal car here on <strong>Get a Ride<strong></h2>
      <br>
      <br>
    <p> Search through hundreds of cars from our trusted members.<br />Get in touch with the owners for a more personal renting experience.
    </p>
    <br>
    <br>

    <%= link_to "Book Now", cars_path,class: "btn btn-ghost btn-right" %>
  </div>
  <div class="card-category">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "car1.gif" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "car2.gif" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "car3.gif" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "car4.gif" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


  <h4>
    Take a look at some of our most popular cars
  </h4>

    <div class="cards">
      <% @cars.each do |car| %>
      <div class="car_cards">
       <%= link_to car_path(car) do %>
        <%= cl_image_tag car.photo, class: "cars-card-image"  %>
          <% end %>
           <p>Rate: £<%= car.rate %> per day
           <br>
          Owner: <%= car.user.username %></p>
          </div>
      <% end  %>
   </div>
</div>


