<div class="container">
  <%= simple_form_for(car) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs h5">
      <%= f.input :make, placeholder: "e.g. Toyota" %>
    </div>
    <div class="form-inputs h5">
    <%= f.input :model, placeholder: "e.g. Corolla" %>
    </div>
    <div class="form-inputs h5">
    <%= f.input :category, placeholder: "e.g. Sedan" %>
    </div>
    <div class="form-inputs h5">
    <%= f.input :description, as: :text, placeholder: "A little about you and your car" %>
    </div>
    <div class="form-inputs h5">
    <%= f.input :rate, as: :integer, placeholder: "Per day rate" %>
    </div>
    <div class="form-inputs h5">
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
    <%= f.button :submit, class: "btn-ghost" %>
  <% end %>
  <br>
</div>
