<div class="contain">
  <h1 id="title">Get a Ride </h1>

  <p id="sub_title">Cars for hire</p>

    <% @cars.each do |car| %>
    <div class="cars-card">
       <%= cl_image_tag car.photo, class: "cars-card-image"%>
        <div class="cars-card-content">
            <p>Name of the owner: <%= link_to car.model, car_path(car)%></p>
            <p>Make of the car: <%= car.make%></p>
            <p>Name of the owner: <%= car.make%></p>
            <p>Rate: £<%= car.rate%> per day</p>
              <%= link_to 'Book Car', new_car_booking_path(car),class: "btn btn-ghost"%>
            <br>
          </div>
        </div>
    <% end %>
</div>
