<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>


<div>
  <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>
  <ul>
     <li class='list'> <%= @car.model %> <%= @car.make%> <%= @car.rate%></li>
       <%= link_to 'Book Car', new_car_booking_path(@car) %>
       <%= link_to 'Delete Car', @car, method: :delete, data: { confirm: 'Are you sure?' } %>
  </ul>
</div>
