



<div class="container">
  <h1 id="title">Rent this car</h1>
  <div class="row">
    <div class="col">
      <div class="cards">
        <div class="card-category">
          <%= image_tag "yellow_car.jpg", class: "homepage_car"  %>
        </div>
      </div>
        <div>
        <br>
          <ul>
           <li class='list'>
             <p> Car Brand: <%= @car.make%></p>
             <p>Car Model: <%= @car.model %></p>
             <p>Rate: <%= @car.rate %> per day</p>
             <p> Car category: <%= @car.category%>
             </li><p>
          </ul>
          <br>
           <%= link_to 'Book Car', new_car_booking_path(@car), class: 'btn btn-ghost' %>
           <%= link_to 'Review Car', new_car_review_path(@car), class: "btn btn-ghost" %>
           <%= link_to 'Delete Car', @car, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-ghost' %>
        </div>
    </div>
    <div class="col">
      <h1>Hi, im Jasper</h1>
      <p>joined in 2001 </p>
      <br>
      <p>I gave up my finance career in 2010 to pursue a lifelong dream: to travel the world full time. To support myself, I rent out my apartment on Airbnb. It's been a great experience, so great that I recently wrote a book about it! It's called Get Paid For Your Pad and you can find it on Amazon.

      I also started a podcast under the same name that you can find in iTunes.

      I share my adventures with the world through my blog, The Traveling Dutchman. I love exploring the planet, learning different cultures and discovering new places.

      I'm also a big fan of anything that involves the ocean and starts with an "s", such as scuba diving, swimming, surfing, sailing and snorkeling.

      I love meeting people from different parts of the world and I look forward to connecting with you as a host or traveler. I will do my best to make stay as comfortable as possible or being a good guest, depending on my role.</p>
      <h2> About the car</h2>

      <p>Heated windscreen washer jets
        Rain sensor including auto headlights activation
        Automatic Stability Control (ASC)

        On board diagnostics
        BMW Online services
        Brake force display
        Personal Profile
        BMW emergency call
        BMW Teleservices
        Real time traffic information
        Optimum shift indicator
        Check Control warning system for monitoring of lights and door/luggage compartment open warning
        Brake pad wear indicator in front and rear
        On board computer - average speed+fuel consumption, service interval, clock/date, odometer/trip meter, outside temperature display and ice warning
        Oil temperature display via on board computer in instrument cluster
        Lights on warning by audio warning signal when ignition is switched off
        Instrument cluster with speedometer with miles per hour read out, tachometer and fuel gauge
      </p>
      </div>
    </div>
</div>

